---
const { label , value } = Astro.props;
---
<hr class='border-1 border-[#282B30] -mx-8'/>
<article class="flex justify-between my-5 ">
    <h2 class="text-[#6C727F] font-semibold">{ label }</h2>
    <p class="font-medium">{ value }</p>
</article>