---
const { label , value } = Astro.props
const area = label === 'Area' ? true : false
---
<article class="bg-[#282B30] rounded-lg p-5">
    <h3 class="inline">{ label }</h3>
    <p class={area ? "inline" : "hidden"}>(km<sup>2</sup>)</p>
    <hr class="hidden sm:inline h-full w-[1px] border-[1px] mx-4 border-[#1C1D1F]"/>
    <p class="inline">{ value }</p>
</article>