---
import { ViewTransitions } from 'astro:transitions';
import Logo from "../images/Logo.astro";
import '@fontsource/be-vietnam-pro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
			<header class="flex justify-center items-center" id="image-bkg">
				<Logo/>
			</header>
			<slot/>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}

	body {
		background-color: #1A1B1D;
		font-family: 'Be Vietnam Pro', sans-serif;
		overflow-y: scroll;

	}

	body::-webkit-scrollbar {
		width: 12px; /* Ancho de la barra de desplazamiento */
	}

	body::-webkit-scrollbar-thumb {
		background-color: #D2D5DA; /* Color del fondo del pulgar de la barra de desplazamiento */
	}

	body::-webkit-scrollbar-track {
		background-color: #1C1D1F; /* Color del fondo de la pista de la barra de desplazamiento */
	}


	#image-bkg {
		background-image: url("../images/Hero.jpg"); 
		background-position: top center; 
		background-repeat: no-repeat;
		min-height: 300px;
	}

	@media screen and (min-width: 1281px) {
		#image-bkg {
			background-size: cover;
		}
		
	}

</style>
